.main {
    height: 100vh;
    background-image: url('https://thumbs.dreamstime.com/b/assorted-fresh-ripe-fruits-vegetables-food-concept-background-top-view-copy-space-assorted-fresh-ripe-fruits-vegetables-107689509.jpg');
    background-repeat: no-repeat;
    background-size: cover;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list {
    width: 300px;
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}


.form {
    height: 100px;
    width: 300px;
    background-color: white;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

ul {
    list-style-type: none;
}

.item {
    font-size: 20px;
    margin-bottom: 5px;
    border-bottom: 2px solid green;
}

.button {
    padding: 5px 8px;
    background-color: rgba(0, 128, 0, 0.427);
}

.input {
    border: 3px solid rgba(0, 128, 0, 0.427);
}